@keyframes loading {
  0%,
  100% {
    font-size: 5rem;
    transform-origin: center;
  }
  50% {
    font-size: 8rem;
    transform-origin: center;
  }
}

span.default-gif-loading {
  text-align: center;
  margin: 0;
  animation: loading 4s infinite;
}

span.default-gif {
  text-align: center;
  margin: 0;
  font-size: 8rem;
}
